<nav class="level is-mobile mx-6">
<!-- Left side -->
<div class="level-left">
    <div class="level-item">
        <img src="../favicon.png" alt="" style="height: 30px;">
    </div>
    <div class="level-item has-text-centered">
        <div class="is-size-3"> Contribute to the Wiki</div>
    </div>
</div>
<div class="level-right">
    <div class="level-item">
        v <%- version %> 
    </div>
</div>

</nav>